# Untracked files:

# Save files: 
save_files

# Settings:
settings

# Empty save_files/ folder and default settings/ folder will be created on first run. 

# Debugging logs:
debugging

# Virtual enviroment
venv

# Pycache
pycahche



